html {
  font-size: 62.5%; }
  html body {
    background-color: #f0f3f5;
    color: #000; }

/*-----Хедер--------*/

#header {
  height: 60px;
}
.logo {
  text-transform: uppercase;
  color: #357ebd;
  height: 60px;
}
.logo h1 {
  margin: 10px 0 10px 0;
  text-align: center;
}
.sign, .check {
  margin-top: 20px;
  height: 30px;

}
.sign_in, .check_in {
  text-align: center;
  text-transform: uppercase;
  color: #357ebd;
  font-size: 14px;
}
.sign_in:hover, .check_in:hover {
  color: #357ebd;
}
#modal_sign, #modal_check {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
#sign_form, #check_form {
  position: relative;
  width: 550px;
  margin: 0 auto;
  margin-top: 50px;
  background: #eee;
  border-radius: 10px;
  padding: 25px 15px;
}
#sign_form h2, #check_form h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
#close, #closeCheck {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px;
}
.form-grup{
 margin-bottom: 15px;
}
.form-grup label{
 padding-top: 4px;
}
.form-grup label:after{
 content: "*";
 color: red;
}
.form-grup input[type="submit"]{
 padding: 4px;
 border-radius: 5px;
 outline: none;
}
#advertising {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#advertising p {
  font-size: 20px;
}
#advertising img {
  width: 100%;
  height: 100%;
}
/*---------навигация--------*/
#nav {
  background-color: #357ebd;
  height: 60px;
}
.list_inline {
  margin: 0;
}
.info {
  display: inline-block;
  color: #fefefe;
  text-transform: uppercase;
  padding: 20px 10px;
}
.infoLi :hover {
  text-decoration: none;
  color: #fefefe;
  border-bottom: 4px solid #357ebd;
}
.infoLi {
  display: inline-block;
  list-style-type: none;
}
.search {
  width: 150px;
  position: relative;
  margin: 14px 0 0 0;
}
.search input {
  border: none;
}
.search .find {
  width: 100%;
  padding: 8px 37px 9px 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
  border-radius: 20px;
  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}
.search .find:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}
.search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 100%;
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
  opacity: 0.5;
}
.search .submit:hover {
  opacity: 0.8;
}

     /*----------Слайдер, Видио-----------*/

#top_New_Slider {
  height: 300px;
  margin: 50px 0 0 0;
}
#carusel{
  height: 300px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#imgTitleSlaid{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 0 25px;
  color: #c60304;
  font-weight: bold;
  font-size: 25px;
}
#carusel img{
  width: 100%;
}
#carusel>.left, #carusel>.right{
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  width: 45px;
  left: -45px;
  transition: all 0.5s linear;
}
#carusel>.right{
  left: auto;
  right: -45px;
}
#carusel:hover>.left{
  left: 0px;
}
#carusel:hover>.right{
  right: 0px;
}
#carusel>.left:before,#carusel>.left:after{
  content: "";
  position: absolute;
  height: 50px;
  width: 5px;
  background: #fff;
  transform: skewX(-10deg) translateY(-100%);
  top: 50%;
  left: 26%;
}
#carusel>.left:after{
  transform: skewX(10deg) translateY(-1px);
  left: 46%;
}
#carusel>.right:before,#carusel>.right:after{
  content: "";
  position: absolute;
  height: 50px;
  width: 5px;
  background: #fff;
  transform: skewX(10deg) translateY(-100%);
  top: 50%;
  right: 26%;
}
#carusel>.right:after{
  transform: skewX(-10deg) translateY(-1px);
  right: 46%;
}
#carusel>.left:before,#carusel>.left:after,
#carusel>.right:before,#carusel>.right:after{
  display: none;
}
#carusel>.left:hover:before,#carusel>.left:hover:after,
#carusel>.right:hover:before,#carusel>.right:hover:after{
  display: block;
}
.dote-carusel{
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.dote-carusel span{
  width: 20px;
  height: 20px;
  background: rgba(220,220,220,0.6);
  border-radius: 50%;
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
}
.dote-carusel span.active{
  background: #232323;
}
.dote-carusel span:hover{
  background: #232323;
}
.video {
  padding: 0;
  margin: 0 0 0 30px;
  height: 300px;
}

    /*---------Мейн-------------*/

.news-title {
  text-transform: uppercase;
  color: #357ebd;
  font-size: 20px;
}
.news-title a:hover {
  text-decoration: none;
  color: #bb1919;
}
.news-rubric {
  font-size: 18px;
  color: #bb1919;
  margin: 0 15px 0 0;
}
.news-data {
  font-size: 16px;
}
.news-img {
  margin: 15px 0 0 0;
}
.news-text {
  margin: 15px 0 0 0;
  font-size: 18px;
}
#harmonic_news {
  margin: 50px 0 0 0;
}

   /*--------Футер---------*/

#footer {
  height: 150px;
  margin: 50px 0 0 0;
  padding: 40px;
  background-color: #666666;

}
.end {
  font-size: 12px;
  color: #fefefe;
}
/*--------media---------*/

@media screen and (min-width:320px) and (max-width:767px) {
  #nav {
    display: none;
  }
  #header {
    height: 100px;
  }
  .sign {
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
  .check {
    margin: 0;
    padding: 0;
  }
  #sign_form, #check_form {
    width: 80%;
    margin-top: 50px;
    padding: 0 5vw;
  }
  #sign_form h2, #check_form h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-size: 14px;
  }
  #close, #closeCheck {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
  }
  #name, #password {
    margin-top: 5px;
  }
  .search {
    display: none;
  }
  .slider, .video {
    height: 300px;
    padding: 10px;
    margin: 0;
  }
  #footer {
    height: 100%;
    padding: 15px;
    margin: 0;
  }
}
/*скролл вверх*/
  #toTop {
  	display:none;
  	text-decoration:none;
  	position:fixed;
  	bottom:10px;
  	right:10px;
  	overflow:hidden;
  	width:51px;
  	height:51px;
  	border:none;
  	text-indent:100%;
  	background:url(../img/ui.totop.png) no-repeat left top;
  }
  #toTopHover {
  	background:url(../img/ui.totop.png) no-repeat left -51px;
  	width:51px;
  	height:51px;
  	display:block;
  	overflow:hidden;
  	float:left;
  	opacity: 0;
  	-moz-opacity: 0;
  	filter:alpha(opacity=0);
  }
  #toTop:active, #toTop:focus {
  	outline:none;
  }
@media screen and (min-width:768px) and (max-width:970px) {
  .list_inline {
    margin: 0 0 0 10px;
  }
  #header {
    padding: 0;
    margin: 0;
  }
  #sign_form, #check_form {
    width: 50%;
    margin-top: 100px;
  }
  #top_New_Slider {
    padding: 10px;
    margin: 0 0 0 10px;
  }
}
